body{
        background-color: #fff;
}
.Main_Header{
        height:115px;
        width:100%;
}
.Main_Header h1{
        float:left;
        margin-top:1px;
        height:100px;
        width:600px;
        text-align:center;
        background-image: url('newGeuLogo.jpg');
}
.nav{
        list-style-type: none;
        float: right;
        color:#0033CC;
}
.nav li{
        display: inline;
        margin-right:5px;
}
.nav_links{
        color: #0033CC;
        text-decoration: none;
} 
.Search {
		float:left;
        text-align:left;
        margin:auto;
        margin-top:25px;
       	margin-left:50px; 
        width:70%;
        border-bottom: 2px solid;
}
.Documentation h3{
		float:left;
        text-align:left;
        width:80%;
}
.Documentation p{
		margin: -1px 50px;
		float:left;
        text-align:justify;
        width:80%;
        background:#CCCCCC;
        padding: 5px 5px 5px 5px;
        box-shadow: 5px 5px 5px #888888;
        border-radius: 4px 4px 4px 4px;
}

.Documentation table {
		margin: -1px 50px;
		float:left;
        text-align:justify;
        width:80%;
        background:#CCCCCC;
        padding: 5px 5px 5px 5px;
        box-shadow: 5px 5px 5px #888888;
        border-radius: 4px 4px 4px 4px;
}

.search_res table tr{
        text-align: center;
        margin: auto;
        border: 2px solid #FF0000;
        background-color: rgba(0, 0, 0, .2);
        box-shadow: 5px 5px 5px #888888;
}
.search_res table{
        text-align: center;
        margin:auto;
        margin-top:1px;
        box-shadow: 5px 5px 5px #888888;
}
.search_res table th td{
        padding: 6px 16px 6px 6px;
}
.footer{
	text-align: center;
	position: fixed;
   	bottom: 0px;	
   	right: 0%;
   	left: 0%;
}
.notice, .valid_notice, .invalid_notice{
	height: auto; /*35px; */
	width: auto ; /*400px; */
	margin:auto;
	margin-top:10px;
}
.notice, .invalid_notice p, .valid_notice p{
	text-align:center;
	margin-top:6px;
}

.notice{
	background-color: transparent;
}

.invalid_notice{
	background-color: #FFCCCC;
	border:1px solid red;
}
.valid_notice{
	background-color: #CCFFCC;
	border:1px solid green;
}